.place-card {
  display: grid;
  grid-template-columns: 64px 1fr;
  gap: 16px;
  align-items: center;
  border-radius: 8px;
  padding: 8px 16px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  color: #fff;

  &:hover {
    background-color: rgba($color: #fff, $alpha: .15);
  }

  &__icon {
    background-color: #fff;
    border-radius: 16px;
    width: 64px;
    height: 64px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .place-details {
    &__direction {
      font-size: 14px;
      text-align: left;
      font-family: 'Space Mono', monospace;
    }
    
    &__name {
      margin-bottom: 8px;
      font-weight: 900;
      font-size: 19px;
      text-align: left;
    }
  }

  .place-rating {
    font-size: 12px;
    font-weight: 700;
    display: flex;
    align-items: center;

    .star-icon {
      margin-left: 6px;
    }
  }
}