.base-input {
  font-family: 'Space Mono', monospace;
  border: none;
  border-left: 3px solid white;
  border-radius: 5px;
  padding: 12px 16px;
  background-color: rgba(255,255,255,0.3);
  outline: none;
  box-shadow: none;
  color: #363636;
  font-size: 14px;
  letter-spacing: 0.2px;
}