@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

:root {
  font-family: "Montserrat", sans-serif;
  background-image: linear-gradient(
    to right top,
    #38438b,
    #944b94,
    #d75a88,
    #ff7e71,
    #ffb25f,
    #ffeb68
  );

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
