@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

:root {
  font-family: "Montserrat", sans-serif;
  background-image: linear-gradient(
    to left bottom,
    #6bba62,
    #77c468,
    #82cd6e,
    #8ed775,
    #9ae17b
  );

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
